manifest {
    author = 'Santiago Martinez Balvanera'
    name = 'audioflows'
    homePage = 'https://github.com/mbsantiago/audioflows'
    description = 'A workflow to process audio with ML models'
    mainScript = 'main.nf'
    version = '0.1.0'
    nextflowVersion = '>=21.10'
}

nextflow.preview.output = true

includeConfig "conf/profiles.config"

timeline {
    enabled = false
    overwrite = true
}

report {
    enabled = false
    overwrite = true
}

trace {
    enabled = false
    overwrite = true
}

dag {
    enabled = false
    overwrite = true
}

resume = true
