// vi:ft=groovy

def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

params {
    outputDir = 'outputs'
    runDir = "$outputDir/$timestamp"
    resultsDir = "$runDir/results"
    reportDir = "$runDir/report"
}

manifest {
    author = 'Santiago Martinez Balvanera'
    name = 'audioflows'
    homePage = 'https://github.com/mbsantiago/audioflows'
    description = 'A workflow to process audio with ML models'
    mainScript = 'main.nf'
    version = '0.1.0'
    nextflowVersion = '>=21.10'
}

includeConfig 'conf/profiles.config'

timeline {
    enabled = true
    file = "${params.reportDir}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.reportDir}/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.reportDir}/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.reportDir}/dag.html"
    overwrite = true
}

conda {
    enabled = true
    cacheDir = "$HOME/.conda/envs/"
}

resume = true
