manifest {
    author = 'Santiago Martinez Balvanera'
    name = 'audioflows'
    homePage = 'https://github.com/mbsantiago/audioflows'
    description = 'A workflow to process audio with ML models'
    mainScript = 'main.nf'
    version = '0.1.0'
    nextflowVersion = '>=21.10'
}

includeConfig "conf/profiles.config"

def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file = "report/timeline-${timestamp}.html"
    overwrite = true
}

report {
    enabled = true
    file = "report/report-${timestamp}.html"
    overwrite = true
}

trace {
    enabled = true
    file = "report/trace-${timestamp}.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "report/dag-${timestamp}.html"
    overwrite = true
}

conda {
    enabled = true
    cacheDir = "$HOME/.conda/envs/"
}

process {
    conda = "environment.yml"
}

resume = true
