// vi:ft=groovy

profiles {
    local_cpu {
        process {
            conda = 'environment_cpu.yml'

            executor = 'local'

            withLabel: 'network' {
                // Cannot have more than 10 ssh connections simultaneously
                maxForks = 10
            }
        }
    }

    local_gpu {
        process {
            executor = 'local'

            conda = 'environment_gpu.yml'

            withLabel: 'gpu' {
                // Cannot have more than 1 GPU process simultaneously
                maxForks = 1
            }

            withLabel: 'network' {
                // Cannot have more than 10 ssh connections simultaneously
                maxForks = 10
            }
        }
    }

    cluster {
        process {
            executor = 'sge'
            conda = 'environment_gpu.yml'
        }

        executor {
            name = 'sge'
            queueSize = 20
            pollInterval = '30 sec'
        }
    }
}
