// vi:ft=groovy

profiles {
    local {
        process {
            executor = 'local'

            withLabel: 'network' {
                // Cannot have more than 10 ssh connections simultaneously
                maxForks = 2
            }
        }
    }

    local_gpu {
        process {
            executor = 'local'

            withLabel: 'gpu' {
                // Cannot have more than 1 GPU process simultaneously
                maxForks = 1
            }

            withLabel: 'network' {
                // Cannot have more than 10 ssh connections simultaneously
                maxForks = 10
            }
        }
    }

    cluster {
        executor {
            name = 'sge'
            queueSize = 20
            pollInterval = '30 sec'
        }
    }
}
